<div class="side-bar">
  <div class="sb-top">
    <div class="sb-top-username">
      <%= link_to current_user.name, "users/#{current_user.id}/edit" %>
    </div>
    <div class="sb-top-roomcreate">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="sb-bottom">
    <div class="sb-bottom-room">
      <div class="sb-bottom-roomname">
        <a href="#">techroom1</a>
      </div>
    </div>
  </div>
</div>