<div class="side-bar">
  <div class="sb-top">
    <div class="sb-top-username">
      <%= link_to current_user.name, "users/#{current_user.id}/edit" %>
    </div>
    <div class="sb-top-roomcreate">
      <a href="/rooms/new">チャットを作成する</a>
    </div>
  </div>
  <div class="sb-bottom">
    <% current_user.rooms.each do |room| %>
      <div class="sb-bottom-room">
        <div class="sb-bottom-roomname">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      </div>
    <% end %>
  </div>
</div>